<div ng-controller="GalerijaCtrl">
    <h2 translate="galerija"></h2><hr>

    <div class="well centerPic" style="width:720px;">
        <img id="slikaId" class="img-responsive" src="" alt="loading..." style="width:700px;height:380px;">
        <h4 id="picTitle" style="text-align: center;">loading...</h4>
        <button ng-click="previousPic()" class="btn btn-info"><<</button>
        <button class="pull-right btn btn-info" ng-click="nextPic()">>></button>
    </div>

    <p>{{polje}}</p>
</div>